@font-face {
    font-family: 'dogicaregular';
    src: url('Fonts/dogica-webfont.woff2') format('woff2'),
         url('Fonts/dogica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'retro_computerregular';
    src: url('Fonts/retro_computer_personal_use-webfont.woff2') format('woff2'),
         url('Fonts/retro_computer_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #35363D;
}

#topBar {
    background-color: #686868;
    padding: 10px;
    height: 2rem;
}

#title {
    position: absolute;
    left: 8%;
    transform: translate(0, -60%);
}

#name {
    position: absolute;
    right: 8%;
    transform: translate(0, -60%);
    text-align: right;
}

.axe {
    position: absolute;
    left: 31%;
    max-height: 2.5rem;
}

#foot {
    background-image: url("Assets/trees-cropped.jpg");
    background-position: center;
    background-size: 100%;
    border-top: 10px solid white;
    margin-top: 2vw;
    height: 200px;
}

#valley, #trees {
    width: 100%;
    z-index: 0;
}

p {
    font-size: 0.878vw;
}

#coolText {
    position: absolute;
    left: 7%;
    transform: translate(0%, 60%);
}

#copyright {
    position: absolute;
    right: 7%;
    transform: translate(0%, 20%);
    text-align: right;
}

h2 {
    transform: translate(-25px, 0);
}

/* TREE STUFF */

.treeContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2% 5% 2%;
}

#treeInfo > * {
    margin: 1%;
}

.treeImage {
    background: rgb(36,77,62);
    background: linear-gradient(-45deg, rgba(36,77,62,1) 0%, rgba(232,253,245,1) 100%);
    padding: 4em;
    border: 10px solid white;
    max-width: 33%;
}

.treeText {
    background-color: #686868;
    max-width: 41vw;
}

.treeText > h2 {
    padding: 1em 2em 0;
}

.treeText > p {
    padding: 1em 2em 1em;
}

/* ITEM STUFF */

.itemContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1% 5% 0;
}

.itemContainer > div {
    width: 19.7vw;
    height: 19.7vw;
    margin: 1%;
}

.itemPortrait {
    background-color: #324E44;
    max-width: 17.7vw;
    max-height: 17.7vw;
    border: 1vw solid white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.itemImage {
    max-width: 8.85vw;
}

h3 {
    margin-top: 2em;
}

.itemText {
    background-color: #686868;
    width: 41vw;
    height: 41vw;
}

.itemText > p {
    padding: 1.5em;
}

* {
    font-family: 'dogicaregular';
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'retro_computerregular';
    color: white;
}